<!DOCTYPE html>
<html>

<head>
  <title>Subreddit GraphML Downloaded</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <nav class="menu">
    <a href="/" class="title">Subreddit's Post Comments Analyzer</a>
  </nav>
  <h1 class="titles">r/{{subreddit_name}}'s GraphML file successfully downloaded</h1>
</body>

</html>