<!DOCTYPE html>
<html>

<head>
  <title>Measures of the graph</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../d3.v4.min.js"></script>
  <script src="../mpld3.v0.3.1.dev1.min.js"></script>
</head>

<body>
  <nav class="menu">
    <a href="/" class="title">Subreddit's Post Comments Analyzer</a>
  </nav>
  <h1>
    <table id="myTable">
      <thead>
        <tr>
          <th>{{head_tag}}</th>
          <th onclick="sortTable()">{{type_name}}{{sortstat}}</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in values.items() %}
        <tr>
          <td> {{ key }} </td>
          <td> {{ value }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </h1>
  <h3></h3>
  <script>
    function sortTable() {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[1];
          y = rows[i + 1].getElementsByTagName("TD")[1];
          if (dir == "asc") {
            if (Number(x.innerHTML) < Number(y.innerHTML)) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (Number(x.innerHTML) > Number(y.innerHTML)) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
</body>

</html>